APP_PORT=8000
APP_KEY=
APP_LOG=console.log
APP_URL=http://localhost:4200/

DB_DIALECT=sqlite
DB_HOST=127.0.0.1
DB_NAME=
DB_USER=
DB_PASS=
DB_STORAGE=:memory:

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=valaki@gmail.com
EMAIL_PASS=alka lmaz ásje lszó
EMAIL_FROM='"Valaki" <noreply@valahol.hu>'
